---
title: List of Blog Posts
---
<div class="columns is-multiline">
    <% sort_blog_posts(@items.find_all('/blog/*')).each do |post| %>
        <% author = author_data(post[:author].to_sym) %>
        <% slug, created_at = slug_and_created_at(post) %>
        <div class="column is-4">
            <div class="card" style="height: 350px">
                <a href="/blog/<%= slug %>">
                    <div class="card-content has-text-grey-dark">
                        <p class="title is-4">
                            <%= post[:title] %>
                        </p>
                        <p class="subtitle is-6 has-text-grey">
                            Posted on <em><%= get_pretty_date(created_at) %></em> by <em><%= author[:name] %></em>
                        </p>
                        <div class="content">
                            <%= post[:description] %>...
                        </div>
                    </div>
                </a>
            </div>
        </div>
    <% end %>
</div>
